body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
#counter {
    font-size: 2rem;
    margin: 20px;
}
button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #e2050d;
    color: white;
}
button:hover {
    background-color: #af060c;
}
.message {
    margin-top: 20px;
    color: red;
}
.error {
    margin-top: 20px;
    color: red;
}